{% extends "blog/base.html" %}
{% block content %}
    <h2>About my website        >:( </h2>
{% endblock content %}

<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    {% if title %}-->
<!--        <title>The blog about page &#45;&#45; {{ title }}</title>-->
<!--    {% else %}-->
<!--        <title>This is the title</title>-->
<!--    {% endif %}-->
<!--</head>-->
<!--<body>-->
<!--<h1>About <h1>-->
<!--<h2>About my website        >:( <h2>-->
<!--</body>-->
<!--</html>-->