{% extends "blog/base.html" %}
{% load static %}

{% block content %}
<h1>30works30days</h1>
    <p>
        is a month long project for artists where they are required to submit a new piece of work daily, every day for the month of April. If they fail to submit something on one of the days, they are out of the project.
    </p>
    <p>
        30/30 is to encourage making and experimentation. With the restriction of one day you may find that the choices you make, the corners you cut and those ideas that you couldn’t quite realise, are just as telling as the work that you produce.
    </p>
    <p>
        The project is open to everyone and any medium is encouraged. In 2020 over XXX artists of all ages participated from 20+ countries around the world!
​    </p>
    <p>
        You will be able to see works being submitted everyday throughout April on the live feed and by following #30works30days
    </p>

<small>
    Copyright © Twelve Oh presents “30/30” a <strong>12ø Collective</strong> & co limited production™ is in its sixth year *EST. 2015. Terms and conditions apply.
</small>

<small>
    All rights reserved and affiliated companies or are included with permission of the relevant owner
    <i>including any future rights associated with such submissions, even if these terms and conditions are later modified or terminated.</i>
</small>

<div>
    <img src="{% static '12o-logo.png' %}" alt="12o logo" height="90px" > <img src="{% static 'Artquest-logo-2.png' %}" alt="12o logo" height="75px" >
</div>

{% endblock content %}

<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    {% if title %}-->
<!--        <title>The blog about page &#45;&#45; {{ title }}</title>-->
<!--    {% else %}-->
<!--        <title>This is the title</title>-->
<!--    {% endif %}-->
<!--</head>-->
<!--<body>-->
<!--<h1>About <h1>-->
<!--<h2>About my website        >:( <h2>-->
<!--</body>-->
<!--</html>-->